## 1.	Get the input for 2 variables though “input” function and pass them to a function to return the addition of two variables

In [1]:
def addtion(a,b):
    return a+b
a=int(input("Enter the a value"))
b=int(input("Enter the b value"))

Enter the a value3
Enter the b value4

In [2]:
addtion(a,b)

7

## 2.	What happens if we try to add an int with str and vice versa. Please print out the error

In [3]:
a= 37
b="Chennai"
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## 3.	Create a string variable for the word “Data Science” and see if the letter “s” is present in it using membership operators

In [4]:
str1 = 'Data Science'
str2= str1.lower()
print('s' in str)
print('s' in str2)

TypeError: argument of type 'type' is not iterable

## 4.	Write a function and pass a number list as an argument to the function. And return True if the first and last number of a given list is same. If numbers are different then return False

In [5]:
def testfunction(lis):
    if (lis[0] == lis[-1]):
        return True
    else:
        return False

lis=[1,2,3,4,1]
lis1=[1,2,3,4,5]
testfunction(lis)

True

In [6]:
testfunction(lis1)

False

## 5.	Iterate the given list of numbers (l1) and print only those numbers which are divisible by 5. (l1 = [10, 20, 33, 46, 55])

In [7]:
l1 = [10, 20, 33, 46, 55]

value=[x for x in l1 if x % 5==0]
print(value)

[10, 20, 55]

## 6.	Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.
## a.	Hint: Separate return values with a comma

In [8]:
def calculation(a,b):
    return a+b, a-b

a=int(input("Enter the a value"))
b=int(input("Enter the b value"))
calculation(a,b)

Enter the a value44
Enter the b value55

(99, -11)

## 7.	Write a program to demonstrate the following Syntax error
## a.	SyntaxError: non-default argument follows default argument

In [9]:
def arg(a=1,b):
    print("non-default argument follows default argument")

arg(a,2)

SyntaxError: non-default argument follows default argument (Temp/ipykernel_27752/3557240518.py, line 1)

## 8.	What’s recursion? Explain in your own words and write a program to create a recursive function to calculate the sum of numbers from 0 to 10

In [3]:
def recursion(a):    
    if a ==0:
        return a
    else:
        return (a + recursion(a-1))
        """10 + rec(9)9+rec(8)8+rec(7)7+rec(6)6+rec(5)5+rec(4)4+rec(3)3+rec(2)2+rec(1)1+rec(0)0= 55"""
a=10
recursion(a)

55

## 9.	Use filter and lambda function to calculate square for below numbers only if they are odd number
## a.	[12, 11, 53, 22, 21, 77, 87, 88, 98]

In [15]:
a=[12, 11, 53, 22, 21, 77, 87, 88, 98]

val =list(filter(lambda x : x % 2 == 1, a))
val2 =list(map(lambda x : x * x ,val))
print(val2)
for i in val:
    print("square val ",i," = ",i*i)

[121, 2809, 441, 5929, 7569]
square val  11  =  121
square val  53  =  2809
square val  21  =  441
square val  77  =  5929
square val  87  =  7569

## 10.	 Write a function (not a lambda function) and use it to demonstrate an example for map function (any logical function of your choice)

In [6]:
def addition(n):
    return n+10

list1 = [1, 2, 3, 4, 5]
#result=map(addition,list1) return object
result=list(map(addition,list1))

print(result)

[11, 12, 13, 14, 15]