## 1.Import the necessary package to
## a.Set the current working directory
## b.Change the working directory

In [5]:
import os 

#Set the current working directory
curr_dir=os.getcwd()
print(curr_dir)

#.Change the working directory
os.chdir('../')
change_dir = os.getcwd()
print(change_dir)

C:\Users\Ranjith
C:\Users

## 2.	Create the string, int and float variable and delete them all in the next cell

## Create the string, int and float variable

In [11]:
Str = "This is String litral value"
a =37
b= 37.5
print(Str,"\n",a,"\n",b)

This is String litral value
 37
 37.5

   ## delete them all in the next cell

In [12]:
del Str
del a
del b
print(Str,"\n",a,"\n",b)

NameError: name 'Str' is not defined

## 3.	What’s the result of assigning a value to a ‘keyword’?
##        a.	Please highlight the error

In [14]:
True = 100
print(True)

SyntaxError: cannot assign to True (Temp/ipykernel_28864/639564904.py, line 1)

##  4.	How to write a multi-line statement and assign it to a variable (Note: Without using a backslash “\” at the end of each line

In [21]:
string = """This is the Multi -line command ,
with out using, 
\ backslash"""
print(string)

This is the Multi -line command ,
with out using,
\ backslash

## 5.	Print the list of numbers from 100 to 999 with an interval (step size) of 8 between the numbers

In [23]:
for i in range(100,999,8):
    print(i)

100
108
116
124
132
140
148
156
164
172
180
188
196
204
212
220
228
236
244
252
260
268
276
284
292
300
308
316
324
332
340
348
356
364
372
380
388
396
404
412
420
428
436
444
452
460
468
476
484
492
500
508
516
524
532
540
548
556
564
572
580
588
596
604
612
620
628
636
644
652
660
668
676
684
692
700
708
716
724
732
740
748
756
764
772
780
788
796
804
812
820
828
836
844
852
860
868
876
884
892
900
908
916
924
932
940
948
956
964
972
980
988
996

## 6.	Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’

In [5]:
n=[9,12,2,10,25]
for i in n:
    if i%2==0:
        break;
    print(i)

9

## 7.	Write a simple function and call the docstring from outside the function

In [17]:
def my_function():
    '''Demonstrates triple double quotes
    docstrings and does nothing really.'''
print(my_function.__doc__)

Demonstrates triple double quotes
    docstrings and does nothing really.

## 8.	Create a user-defined package in ‘site-packages’ with below 3 variables a, b and c. Import these variables and write a function to calculate the area of triangle for below 3 sides (a, b, c). Calculate the semi-perimeter (s) first, to calculate the area of triangle (area) at last
## << Formula to calculate semi-perimeter: s = (a+b+c )/2
## << Formula to calculate area = (s*(s-a) * (s-b) * (s-c)) ** 0.5 >>
## a.	15
## b.	51
## c.	17

In [13]:
from Mypackage import Mydata

a=Mydata.a
b=Mydata.b
c=Mydata.c

def area(a,b,c):
    #semi-perimeter
    s=(a+b+c)/2
    return (s*(s-a)*(s-b)*(s-c)) ** 0.5

area(a,b,c)

(3.097937745838546e-14+505.93162828587816j)

## 9.	Write a list comprehension to print the odd numbers from 0 to 100

In [10]:
list_com= [x for x in range(0,100) if x%2 == 0] 
print(list_com)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

## 10.Create a variable (ex: name) and store your full name in it. Then write a list comprehension to print your name excluding vowels (a, e, i, o, u)
## a.	Ex: name = Imran
## b.	Output = [‘m’, ‘r’, ‘n’]

In [16]:
Name= "Ranjith"
vowels=["a","e,","i","o","u"]
l=[]
for i in Name:
    if i in vowels:
        l.append(i)
print(l)

['a', 'i']